h3{
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    color: #868e96;
}

.error{
    padding: 1rem;
    color: #e03131;
    font-size: 1.6rem;
    font-weight: 500;
    float: right;
}

.review{
    padding: 2rem .5rem;
    color: #868e96;
}


.error-terms{
    padding: 1rem;
    color: #e03131;
    font-size: 1.6rem;
    font-weight: 500;
}