*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-style: 100;
    background-color: #000;
    transition: background-color 0.3s, color 0.3s;
}