.btn{
  padding: 1rem 2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-size: 1.6rem;

    &--nav{

        &:hover{
          background-color: $color-grey-3;
          color: $color-white;
      }
    }

    &--welcome{
      background-color: $color-grey-4;
      text-decoration: none;
      color: $color-white;
    }

    &--form{
      padding: 1rem  3rem;
      
    }

    &--next{
      background-color: #212529;
      color: $color-white;
    }

    &--previous{
      background-color: #212529 $color-white;
      color: #212529 ;
    }
}